*, *:before, *:after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}



#container {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
}

#chat {
    width: 750px;
    float: left;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

#messages {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}

.message-data {
    margin-bottom: 15px;
}

.message-data-time {
    color: #92959E;
    padding-left: 6px;
}

.message {
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 6px;
    width: 90%;
    position: relative;
}

.message:after {
    bottom: 100%;
    left: 7%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: #86BB71;
    margin-left: -10px;
}

.my-message {
    background: #86BB71;
}

.other-message {
    background: #6C86D2;
}

.other-message:after {
    border-bottom-color: #6C86D2;
    left: 93%;
}

.chat-message {
    padding: 30px;
}

#messageInput {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

button:hover {
    color: #7fa9ce;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
