
*, *:before, *:after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
    padding-left: 0px;
}

div{
	    font-size: .97em;
	font-weight: normal;
}
body {
	min-height: 100vh;
	background-color: #f8f8f8;
}

#container {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
}

#chat {
    width: 750px;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

#messages {
    border-bottom: 2px solid white;
    height: 575px;
        width: 450px;
    padding-left: 50px;
}

.message-data {
    margin-bottom: 15px;
}

.message-data-time {
    color: #92959E;
    padding-left: 6px;
}

.message {
    color: black;
    padding: 10px;
    font-size: .97em;
	font-weight: normal;
    border-radius: 7px;
    margin-bottom: 6px;
    width: 90%;
    position: relative;
}

.message:after {
    bottom: 100%;
    left: 7%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: #86BB71;
    margin-left: -10px;
}

.my-message {
    background: #CCC;
    color: #000;
    padding: 10px;
	font-size: .97em;
	font-weight: normal;;
    border-radius: 7px;
    margin-bottom: 6px;
    width: 90%;
    position: relative;
}

.other-message {
    background: #5d0b5f;
    color: #ffffff;
    padding: 10px;
	font-size: .97em;
	font-weight: normal;
    border-radius: 7px;
    margin-bottom: 6px;
    width: 90%;
    position: relative;
}

.other-message:after {
    border-bottom-color: #6C86D2;
    left: 93%;
}


#messageInput {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.align-left {
    text-align: left;
    margin-bottom: 2.5px;
}

.align-right {
    text-align: right;
    margin-bottom: 2.5px;
    width: 350px;
}

.float-right {
    float: right;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    width: 400px;
}

@media (max-width: 600px) {
	body {
		margin-left: 20vh;
		width: 430px;
	}
}


@media (max-width: 768px) {
	body {
		margin-left: 55vh;
		width: 430px;
	}
}

@media (max-width: 320px) {
	body {
		margin-left: 32%;
		width: 430px;
	}
}

@media (max-width: 425px) {
	body {
		margin-left: 65vh;
		width: 430px;
	}
}

