body{
	background-color: #f8f8f8;	
}

table {
border-collapse: collapse;
}

td {
padding: 5px 15px;
}

.sair {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-top: 0px;
}

.enviar {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 1,5;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
}

.textarea {
	height: 100px;
	width: 300px;
	padding-right: 2px;
	font-size: 11px;
}


.thTextarea {
	padding-right: 2px;
	height: 63px;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 1px;

}

.botaoSair {
	padding-left: 12px;
	padding-top: 2px;
	border-left-width: 1px;
	width: 60px;
	height: 25px;

}

.botaoEnviar {
	width: 60px;
	height: 25px;
	padding-top: 2px;
	padding-left: 10px;
}

h6{
	font-size: .7em;
	margin-bottom: 1px;
}


