body {
	min-height: 100vh;
	background-color: #f8f8f8;
}

.login-form {
	margin-top: 50vh;
	padding: 15px 15px;
	background-color: #f8f8f8;
	color: #9b9da4;

	transform: translateY(-50%);
}

.login-form h1 {
	margin: 0 0 10px;
}

.login-form h2 {
	margin: 0 0 20px;
	font-size: 1.1em;
}

.login-form button {
	width: 70px;
}

@media (min-width: 480px) {

}

@media (min-width: 600px) {
	body {
		margin-left: 20vh;
		margin-right: 20vh;
	}
}

@media (max-width: 320px) {
	.login-form h2 {
		margin: 0 0 20px;
		font-size: 1.0em;
	}
}
