	body {
		min-height: 100vh;
		background-color: #f8f8f8;
	}

	.login-form {
		margin-top: 45vh;
		padding: 12px 13px 12px 13px;
		background-color: #f8f8f8;
		color: #9b9da4;
		width: 450;

		transform: translateY(-50%);
	}


	select:hover {
			background-color: #fff;
			border-color: #FF6C00;
	}

	.login-form h1 {
		margin: 0 0 10px;
	}

	.login-form h2 {
		margin: 0 0 20px;
		font-size: .9em;
	}

	.login-form h3 {
		font-size: 1em;
	}

	.login-form legend {
		color: #9C9C9C;
		margin: 10px 0 0 0;
	}

	.login-form button {
		width: 70px;
	}

	@media (min-width: 600px) {
		body {
			margin-left: 20vh;
			margin-right: 20vh;
		}
	}

	@media (max-width: 320px) {
		.login-form h2 {
			margin: 0 0 20px;
			font-size: .8em;
		}

		.login-form legend {
			font-size: 1.4em;
		}

	}
